:root {

  --primary-font: 'Roboto', sans-serif;
  --primary-text-color: #2C2C2C;
  --secondary-text-color: #505050;
  --form-text-color: #C4C4C4;
  --header-footer-background-color: #FEFEFE;
  --primary-background-color: #F5F5F5;
  --yellow-main: #FFE550;
  --btn-green: #BBF330;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}