:root {
  --primary-font: 'Roboto', sans-serif;
  --primary-text-color: #2c2c2c;
  --secondary-text-color: #505050;
  --form-text-color: #c4c4c4;
  --header-footer-background-color: #fefefe;
  --primary-background-color: #f5f5f5;
  --yellow-main: #ffe550;
  --btn-green: #bbf330;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
