<section class="customers-say">
  <div class="container customers-say__container">
    <h2 class="customers-say__title title">What our Customers Say</h2>
    <p class="customers-say__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul>
      <li>
        <div class="grade">
          <svg class="grade__icon" width="20" height="20">
            <use href=""></use>
          </svg>
          <svg class="grade__icon" width="20" height="20">
            <use href=""></use>
          </svg>
          <svg class="grade__icon" width="20" height="20">
            <use href=""></use>
          </svg>
          <svg class="grade__icon" width="20" height="20">
            <use href=""></use>
          </svg>
          <svg class="grade__icon" width="20" height="20">
            <use href=""></use>
          </svg>
        </div>
        <p class="grade__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customer">
          <div class="customer__portrait">
            <picture>
              <source
                srcset="
                  ./images/customer-man.webp    1x,
                  ./images/customer-man@2x.webp 2x
                "
                media="(min-width: 1px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer-man.jpg    1x,
                  ./images/customer-man@2x.jpg 2x
                "
                media="(min-width: 1px)"
              />
              <img
                src="./images/customer-man.jpg"
                alt="customer-photo"
                width="48"
              />
              /></picture
            >
          </div>
          <div class="customer__identification">
            <p class="customer__name">Sumith Shah</p>
            <p class="customer__position">Some Dude</p>
          </div>
        </div>
      </li>
      <li>
        <div class="grade">
          <svg class="grade__icon" width="20" height="20">
            <use href=""></use>
          </svg>
          <svg class="grade__icon" width="20" height="20">
            <use href=""></use>
          </svg>
          <svg class="grade__icon" width="20" height="20">
            <use href=""></use>
          </svg>
          <svg class="grade__icon" width="20" height="20">
            <use href=""></use>
          </svg>
          <svg class="grade__icon" width="20" height="20">
            <use href=""></use>
          </svg>
        </div>
        <p class="grade__text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customer">
          <div class="customer__portrait">
            <picture>
              <source
                srcset="
                  ./images/customer_woman.webp    1x,
                  ./images/customer_woman@2x.webp 2x
                "
                media="(min-width: 1px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/customer_woman.jpg    1x,
                  ./images/customer_woman@2x.jpg 2x
                "
                media="(min-width: 1px)"
              />
              <img
                src="./images/customer_woman.jpg"
                alt="customer-photo"
                width="48"
              />
              /></picture
            >
          </div>
          <div class="customer__identification">
            <p class="customer__name">Sumith Shah</p>
            <p class="customer__position">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
