<section class="favorites section">
    <div class="favorites__container container">
        <h2 class="favorites__title title">Some of Our Favorites</h2>
        <p class="favorites__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <ul class="favorites__list list">
            <li class="favorites__item ">
                <picture class="favorites__img">
                    <!-- DESKTOP -->
                    <source
                        srcset="../images/favorites/desktop/gamburger.webp 1x, ../images/favorites/desktop/gamburger@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp" />
                    <source
                        srcset="../images/favorites/desktop/gamburger.jpg 1x, ../images/favorites/desktop/gamburger@2x.jpg 2x"
                        media="(min-width: 1200px)" />

                    <!-- TABLET -->
                    <source
                        srcset="../images/favorites/tablet/gamburger.webp 1x, ../images/favorites/tablet/gamburger@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp" />
                    <source
                        srcset="../images/favorites/tablet/gamburger.jpg 1x, ../images/favorites/tablet/gamburger@2x.jpg 2x"
                        media="(min-width: 768px)" />

                    <!-- MOBILE -->
                    <source
                        srcset="../images/favorites/mobile/gamburger.webp 1x, ../images/favorites/mobile/gamburger@2x.webp 2x"
                        media="(max-width: 767px)" type="image/webp" />
                    <source
                        srcset="../images/favorites/mobile/gamburger.jpg 1x, ../images/favorites/mobile/gamburger@2x.jpg 2x"
                        media="(max-width: 767px)" />

                    <img src="../images/favorites/mobile/gamburger.jpg" alt="gamburger" />
                </picture>
            </li>
            <li class="favorites__item">
                <picture class="favorites__img">
                    <!-- DESKTOP -->
                    <source
                        srcset="../images/favorites/desktop/pasta.webp 1x, ../images/favorites/desktop/pasta@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp" />
                    <source
                        srcset="../images/favorites/desktop/pasta.jpg 1x, ../images/favorites/desktop/pasta@2x.jpg 2x"
                        media="(min-width: 1200px)" />

                    <!-- TABLET -->
                    <source
                        srcset="../images/favorites/tablet/pasta.webp 1x, ../images/favorites/tablet/pasta@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp" />
                    <source srcset="../images/favorites/tablet/pasta.jpg 1x, ../images/favorites/tablet/pasta@2x.jpg 2x"
                        media="(min-width: 768px)" />

                    <!-- MOBILE -->
                    <source
                        srcset="../images/favorites/mobile/pasta.webp 1x, ../images/favorites/mobile/pasta@2x.webp 2x"
                        media="(max-width: 767px)" type="image/webp" />
                    <source srcset="../images/favorites/mobile/pasta.jpg 1x, ../images/favorites/mobile/pasta@2x.jpg 2x"
                        media="(max-width: 767px)" />

                    <img src="../images/favorites/mobile/pasta.jpg" alt="pasta" />
                </picture>
            </li>
            <li class="favorites__item">
                <picture class="favorites__img">
                    <!-- DESKTOP -->
                    <source
                        srcset="../images/favorites/desktop/pizza.webp 1x, ../images/favorites/desktop/pizza@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp" />
                    <source
                        srcset="../images/favorites/desktop/pizza.jpg 1x, ../images/favorites/desktop/pizza@2x.jpg 2x"
                        media="(min-width: 1200px)" />

                    <!-- TABLET -->
                    <source
                        srcset="../images/favorites/tablet/pizza.webp 1x, ../images/favorites/tablet/pizza@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp" />
                    <source srcset="../images/favorites/tablet/pizza.jpg 1x, ../images/favorites/tablet/pizza@2x.jpg 2x"
                        media="(min-width: 768px)" />

                    <!-- MOBILE -->
                    <source
                        srcset="../images/favorites/mobile/pizza.webp 1x, ../images/favorites/mobile/pizza@2x.webp 2x"
                        media="(max-width: 767px)" type="image/webp" />
                    <source srcset="../images/favorites/mobile/pizza.jpg 1x, ../images/favorites/mobile/pizza@2x.jpg 2x"
                        media="(max-width: 767px)" />

                    <img src="../images/favorites/mobile/pizza.jpg" alt="pizza" />
                </picture>
            </li>
            <li class="favorites__item">
                <picture class="favorites__img">
                    <!-- DESKTOP -->
                    <source
                        srcset="../images/favorites/desktop/chicken.webp 1x, ../images/favorites/desktop/chicken@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp" />
                    <source
                        srcset="../images/favorites/desktop/chicken.jpg 1x, ../images/favorites/desktop/chicken@2x.jpg 2x"
                        media="(min-width: 1200px)" />

                    <!-- TABLET -->
                    <source
                        srcset="../images/favorites/tablet/chicken.webp 1x, ../images/favorites/tablet/chicken@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp" />
                    <source
                        srcset="../images/favorites/tablet/chicken.jpg 1x, ../images/favorites/tablet/chicken@2x.jpg 2x"
                        media="(min-width: 768px)" />

                    <img src="../images/favorites/tablet/chicken.jpg" alt="chicken" />
                </picture>
            </li>
            <li class="favorites__item">
                <picture class="favorites__img">
                    <!-- DESKTOP -->
                    <source
                        srcset="../images/favorites/desktop/salat.webp 1x, ../images/favorites/desktop/salat@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp" />
                    <source
                        srcset="../images/favorites/desktop/salat.jpg 1x, ../images/favorites/desktop/salat@2x.jpg 2x"
                        media="(min-width: 1200px)" />

                    <!-- TABLET -->
                    <source
                        srcset="../images/favorites/tablet/salat.webp 1x, ../images/favorites/tablet/salat@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp" />
                    <source srcset="../images/favorites/tablet/salat.jpg 1x, ../images/favorites/tablet/salat@2x.jpg 2x"
                        media="(min-width: 768px)" />

                    <img src="../images/favorites/tablet/salat.jpg" alt="salat" />
                </picture>
            </li>
            <li class="favorites__item">
                <picture class="favorites__img">
                    <!-- DESKTOP -->
                    <source
                        srcset="../images/favorites/desktop/borshch.webp 1x, ../images/favorites/desktop/borshch@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp" />
                    <source
                        srcset="../images/favorites/desktop/borshch.jpg 1x, ../images/favorites/desktop/borshch@2x.jpg 2x"
                        media="(min-width: 1200px)" />

                    <!-- TABLET -->
                    <source
                        srcset="../images/favorites/tablet/borshch.webp 1x, ../images/favorites/tablet/borshch@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp" />
                    <source
                        srcset="../images/favorites/tablet/borshch.jpg 1x, ../images/favorites/tablet/borshch@2x.jpg 2x"
                        media="(min-width: 768px)" />

                    <img src="../images/favorites/tablet/borshch.jpg" alt="borshch" />
                </picture>
            </li>
        </ul>
    </div>


</section>