<section id="favorites-scroll" class="favorites section">
    <div class="favorites__container container">
        <h2 class="favorites__title title">Some of Our Favorites</h2>
        <p class="favorites__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <ul class="favorites__list list">
            <li class="favorites__item ">
                <a href="" class="favorites__link link">
                    <picture>
                        <!-- DESKTOP -->
                        <source
                            srcset="./images/favorites/desktop/gamburger.webp 1x, ./images/favorites/desktop/gamburger@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp" />
                        <source
                            srcset="./images/favorites/desktop/gamburger.png 1x, ./images/favorites/desktop/gamburger@2x.png 2x"
                            media="(min-width: 1280px)" />

                        <!-- TABLET -->
                        <source
                            srcset="./images/favorites/tablet/gamburger.webp 1x, ./images/favorites/tablet/gamburger@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp" />
                        <source
                            srcset="./images/favorites/tablet/gamburger.png 1x, ./images/favorites/tablet/gamburger@2x.png 2x"
                            media="(min-width: 768px)" />

                        <!-- MOBILE -->
                        <source
                            srcset="./images/favorites/mobile/gamburger.webp 1x, ./images/favorites/mobile/gamburger@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp" />
                        <source
                            srcset="./images/favorites/mobile/gamburger.png 1x, ./images/favorites/mobile/gamburger@2x.png 2x"
                            media="(max-width: 767px)" />

                        <img src="./images/favorites/mobile/gamburger.png" alt="gamburger" class="favorites__img" />
                    </picture>
                </a>
            </li>
            <li class="favorites__item">
                <a href="" class="favorites__link link">
                    <picture>
                        <!-- DESKTOP -->
                        <source
                            srcset="./images/favorites/desktop/pasta.webp 1x, ./images/favorites/desktop/pasta@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp" />
                        <source
                            srcset="./images/favorites/desktop/pasta.png 1x, ./images/favorites/desktop/pasta@2x.png 2x"
                            media="(min-width: 1280px)" />

                        <!-- TABLET -->
                        <source
                            srcset="./images/favorites/tablet/pasta.webp 1x, ./images/favorites/tablet/pasta@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp" />
                        <source
                            srcset="./images/favorites/tablet/pasta.png 1x, ./images/favorites/tablet/pasta@2x.png 2x"
                            media="(min-width: 768px)" />

                        <!-- MOBILE -->
                        <source
                            srcset="./images/favorites/mobile/pasta.webp 1x, ./images/favorites/mobile/pasta@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp" />
                        <source
                            srcset="./images/favorites/mobile/pasta.png 1x, ./images/favorites/mobile/pasta@2x.png 2x"
                            media="(max-width: 767px)" />
                        <img src="./images/favorites/mobile/pasta.png" alt="pasta" class="favorites__img" />
                    </picture>
                </a>
            </li>
            <li class="favorites__item">
                <a href="" class="favorites__link link">
                    <picture>
                        <!-- DESKTOP -->
                        <source
                            srcset="./images/favorites/desktop/pizza.webp 1x, ./images/favorites/desktop/pizza@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp" />
                        <source
                            srcset="./images/favorites/desktop/pizza.png 1x, ./images/favorites/desktop/pizza@2x.png 2x"
                            media="(min-width: 1280px)" />

                        <!-- TABLET -->
                        <source
                            srcset="./images/favorites/tablet/pizza.webp 1x, ./images/favorites/tablet/pizza@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp" />
                        <source
                            srcset="./images/favorites/tablet/pizza.png 1x, ./images/favorites/tablet/pizza@2x.png 2x"
                            media="(min-width: 768px)" />

                        <!-- MOBILE -->
                        <source
                            srcset="./images/favorites/mobile/pizza.webp 1x, ./images/favorites/mobile/pizza@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp" />
                        <source
                            srcset="./images/favorites/mobile/pizza.png 1x, ./images/favorites/mobile/pizza@2x.png 2x"
                            media="(max-width: 767px)" />

                        <img src="./images/favorites/mobile/pizza.png" alt="pizza" class="favorites__img" />
                    </picture>
                </a>
            </li>
            <li class="favorites__item">
                <a href="" class="favorites__link link favorites__link_no-mobile">
                    <picture>
                        <!-- DESKTOP -->
                        <source
                            srcset="./images/favorites/desktop/chicken.webp 1x, ./images/favorites/desktop/chicken@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp" />
                        <source
                            srcset="./images/favorites/desktop/chicken.png 1x, ./images/favorites/desktop/chicken@2x.png 2x"
                            media="(min-width: 1280px)" />

                        <!-- TABLET -->
                        <source
                            srcset="./images/favorites/tablet/chicken.webp 1x, ./images/favorites/tablet/chicken@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp" />
                        <source
                            srcset="./images/favorites/tablet/chicken.png 1x, ./images/favorites/tablet/chicken@2x.png 2x"
                            media="(min-width: 768px)" />

                        <img src="./images/favorites/tablet/chicken.png" alt="chicken" class="favorites__img" />
                    </picture>
                </a>
            </li>
            <li class="favorites__item">
                <a href="" class="favorites__link link favorites__link_no-mobile">
                    <picture>
                        <!-- DESKTOP -->
                        <source
                            srcset="./images/favorites/desktop/salat.webp 1x, ./images/favorites/desktop/salat@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp" />
                        <source
                            srcset="./images/favorites/desktop/salat.png 1x, ./images/favorites/desktop/salat@2x.png 2x"
                            media="(min-width: 1280px)" />

                        <!-- TABLET -->
                        <source
                            srcset="./images/favorites/tablet/salat.webp 1x, ./images/favorites/tablet/salat@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp" />
                        <source
                            srcset="./images/favorites/tablet/salat.png 1x, ./images/favorites/tablet/salat@2x.png 2x"
                            media="(min-width: 768px)" />

                        <img src="./images/favorites/tablet/salat.png" alt="salat" class="favorites__img" />
                    </picture>
                </a>
            </li>
            <li class="favorites__item">
                <a href="" class="favorites__link link favorites__link_no-mobile">
                    <picture>
                        <!-- DESKTOP -->
                        <source
                            srcset="./images/favorites/desktop/borshch.webp 1x, ./images/favorites/desktop/borshch@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp" />
                        <source
                            srcset="./images/favorites/desktop/borshch.png 1x, ./images/favorites/desktop/borshch@2x.png 2x"
                            media="(min-width: 1280px)" />

                        <!-- TABLET -->
                        <source
                            srcset="./images/favorites/tablet/borshch.webp 1x, ./images/favorites/tablet/borshch@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp" />
                        <source
                            srcset="./images/favorites/tablet/borshch.png 1x, ./images/favorites/tablet/borshch@2x.png 2x"
                            media="(min-width: 768px)" />

                        <img src="./images/favorites/tablet/borshch.png" alt="borshch" class="favorites__img" />
                    </picture>
                </a>
            </li>
        </ul>
    </div>


</section>