<div class="container footer-container">
  <div class="footer__ui">
    <div class="footer__link-wrapper">
      <a href="./index.html" class="link logo">
        <svg class="logo__icon" width="66px" height="52px">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <nav class="navbar footer-navbar">
      <ul class="list navbar__list">
        <li class="navbar__item">
          <a href="#hero-scroll" class="link">Home</a>
        </li>
        <li class="navbar__item">
          <a href="#offerings-scroll" class="link">About</a>
        </li>
        <li class="navbar__item">
          <a href="#customers-say-scroll" class="link">Service</a>
        </li>
        <li class="navbar__item">
          <a href="#favorites-scroll" class="link">Menu</a>
        </li>
        <li class="navbar__item">
          <a href="#subscribe-scroll" class="link">Contact</a>
        </li>
      </ul>
    </nav>
    <form class="footer__form">
      <label for="footer-email" class="footer__label"> Subscribe</label>
      <input
        type="email"
        name="user_email"
        class="footer__form-field"
        required
        placeholder="Enter your email"
        id="footer-email"
      />
      <span class="footer__mistake">
        <svg width="12" height="12">
          <use href="./images/sprite.svg#icon-frame"></use>
        </svg>
        Not a valid email address (example@email.com)</span
      >

      <button type="submit" class="footer__form-btn btn">Subscribe</button>

      <p class="footer-form__text">
        By subscribing you agree to with our
        <a href="" class="link footer-form__link">Privacy Policy</a>
      </p>
    </form>
  </div>
  <div class="footer-info">
    <ul class="list footer-info__list">
      <li class="footer-info__item">
        <a href="#" class="footer-info__link link">Privacy Policy</a>
      </li>
      <li class="footer-info__item">
        <a href="#" class="footer-info__link link">Terms of Service</a>
      </li>
      <li class="footer-info__item">
        <a href="#" class="footer-info__link link">Cookies Settings</a>
      </li>
    </ul>
    <p class="footer-info__rights">2022 FoodSta. All right reserved.</p>
  </div>
</div>
