<div class="container header-container">
  <h1 class="visually-hidden">FoodSta</h1>
  <a href="./index.html" class="link logo">
    <svg class="logo__icon" width="66px" height="52px">
      <use href="./images/sprite.svg#icon-logo"></use>
    </svg>
  </a>
  <nav class="navbar header-navbar">
    <ul class="list navbar__list">
      <li class="navbar__item">
        <a href="#hero-scroll" class="link">Home</a>
      </li>
      <li class="navbar__item">
        <a href="#offerings-scroll" class="link">About</a>
      </li>
      <li class="navbar__item">
        <a href="#customers-say-scroll" class="link">Service</a>
      </li>
      <li class="navbar__item">
        <a href="#favorites-scroll" class="link">Menu</a>
      </li>
      <li class="navbar__item">
        <a href="#subscribe-scroll" class="link">Contact</a>
      </li>
    </ul>
  </nav>
  <button type="submit" class="btn btn-green header__btn" data-modal-open>
    Order Now
  </button>

  <!-- MOBILE MENU -->
  <button type="button" class="btn mobile-menu-btn" data-menu-open>
    <svg class="logo__icon" width="28px" height="28px">
      <use href="./images/sprite.svg#icon-menu"></use>
    </svg>
  </button>
  <div class="mobile-menu" data-menu>
    <button type="button" class="btn mobile-menu__close-btn" data-menu-close>
      <svg class="mobile-menu__close-icon" width="24px" height="24px">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="list mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="#hero-scroll" class="link mobile-menu__link">Home</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#offerings-scroll" class="link mobile-menu__link">About</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#customers-say-scroll" class="link mobile-menu__link">Service</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#favorites-scroll" class="link mobile-menu__link">Menu</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#subscribe-scroll" class="link mobile-menu__link">Contact</a>
      </li>
    </ul>
  </div>
</div>
