<!-- <section class="hero">
  <div class="hero__left-part">
    <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="hero__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button type="button" class="open-modal-btn">Order Now</button>
  </div>

  <div class="hero__right-part">
    <picture class="hero__photo-food">
      <source
        srcset="
          ./images/hero/desktop/desk-hero-food1.jpg    1x,
          ./images/hero/desktop/desk-hero-food1@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/hero/tablet/tabl-hero-food1.jpg    1x,
          ./images/hero/tablet/tabl-hero-food1@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />

      <img src="./images/hero/desktop/desk-hero-food1.jpg" alt="tasty food" />
    </picture>
  </div>
</section> -->
