<section class="offerings">
  <div class="container offerings">
    <div class="offerings__content">
      <h2 class="offerings__subject">What’s Special About Our Offerings</h2>
      <p class="offerings__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
    </div>
    <div class="offerings__features">
      <ul class="offerrings__items list">
       <li class="offerings__item link">
        <div class="offirings">
            <h3 class="offerings__heading">Fasest Delivery</h3>
            <p class="offerings__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </div>
        </li>
        <li class="offerings__item link">
          <div class="offirings">
            <h3 class="offerings__heading">Easy to order</h3>
            <p class="offerings__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
            <button type="button" class="offerings__btn">Order Now</button>
            <a class="offerings__nav" href="#">Read More</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
