<section id="offerings-scroll" class="offerings section">
  <div class="container offerings__container">

    <div class="offerings__picture">
      <picture>
        <!-- TABLET -->
        <source srcset="./images/offerings/tablet/apple-big.webp 1x, ./images/offerings/tablet/apple-big@2x.webp 2x"
          media="(min-width: 768px)" type="image/webp" />
        <source srcset="./images/offerings/tablet/apple-big.png 1x, ./images/offerings/tablet/apple-big@2x.png 2x"
          media="(min-width: 768px)" />
        <img src="./images/offerings/tablet/apple-big.png" alt="big apple" class="big-apple" />
      </picture>

      <picture>
        <!-- TABLET -->
        <source srcset="./images/offerings/tablet/apple-mid.webp 1x, ./images/offerings/tablet/apple-mid@2x.webp 2x"
          media="(min-width: 768px)" type="image/webp" />
        <source srcset="./images/offerings/tablet/apple-mid.png 1x, ./images/offerings/tablet/apple-mid@2x.png 2x"
          media="(min-width: 768px)" />
        <img src="./images/offerings/tablet/apple-mid.png" alt="middle apple" class="middle-apple" />
      </picture>

      <picture>
        <!-- TABLET -->
        <source srcset="./images/offerings/tablet/apple-small.webp 1x, ./images/offerings/tablet/apple-small@2x.webp 2x"
          media="(min-width: 768px)" type="image/webp" />
        <source srcset="./images/offerings/tablet/apple-small.png 1x, ./images/offerings/tablet/apple-small@2x.png 2x"
          media="(min-width: 768px)" />
        <img src="./images/offerings/tablet/apple-small.png" alt="small apple" class="small-apple" />
      </picture>

      <div class="offerings__thumb">
        <div class="offerings__plate">
        </div>
      </div>
      <div class="offerings__shadow"></div>
    </div>
    <div class="offerings__apple">

      <picture>
        <!-- DESKTOP -->
        <source
          srcset="./images/offerings/desktop/apple-desktop.webp 1x, ./images/offerings/desktop/apple-desktop@2x.webp 2x"
          media="(min-width: 1280px)" type="image/webp" />
        <source
          srcset="./images/offerings/desktop/apple-desktop.png 1x, ./images/offerings/desktop/apple-desktop@2x.png 2x"
          media="(min-width: 1280px)" />

        <!-- MOBILE -->
        <source srcset="./images/offerings/mobile/apple280.webp 1x, ./images/offerings/mobile/apple280@2x.webp 2x"
          media="(max-width: 767px)" type="image/webp" />
        <source srcset="./images/offerings/mobile/apple280.png 1x, ./images/offerings/desktop/apple-desktop@2x.png 2x"
          media="(max-width: 767px)" />

        <img src="./images/offerings/desktop/apple-desktop.png" class="offerings__apple-pictures" alt="apple" />
      </picture>
    </div>
    <div class="offerings__description">
      <div class="offerings__content">
        <h2 class="offerings__subject title">
          What's Special About Our Offerings
        </h2>
        <p class="offerings__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
      </div>
      <div class="offerings__features">
        <ul class="offerings__items list">
          <li class="offerings__item">
            <span class="offerings__image">
              <svg class="offerings__icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-rocket"></use>
              </svg>
            </span>
            <div class="offirings__block">
              <h3 class="offerings__heading title">Fasest Delivery</h3>
              <p class="offerings__desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros.
              </p>
            </div>
          </li>
          <li class="offerings__item">
            <span class="offerings__image">
              <svg class="offerings__icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-touch"></use>
              </svg>
            </span>
            <div class="offirings__block">
              <h3 class="offerings__heading title">Easy to order</h3>
              <p class="offerings__desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros.
              </p>
            </div>
          </li>
        </ul>
        <div class="offerings__button">
          <button data-modal-open type="button" class="offerings__btn btn">
            Order Now
          </button>
          <a class="offerings__nav link desktop" href="#">Read More
            <img class="offerings__icon-nav" src="./images/offerings/chevron-d.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>