<section class="subscribe section">
    <div class="container">
        <picture>
            <source srcset="
                    ./images/subscribe/desc.png   1x,
                    ./images/subscribe/desc.webp   1x,
                    ./images/subscribe/desc@2x.png   2x,
                    ./images/subscribe/desc@2x.webp   2x
                    " media="(min-width: 1280px)" />
        
            <source srcset="
                    ./images/subscribe/tabl.png   1x,
                    ./images/subscribe/tabl.webp   1x,
                    ./images/subscribe/tabl@2x.png   2x,
                    ./images/subscribe/tabl@2x.webp   2x
                    " media="(min-width: 768px)" />
        
            <source srcset="
                    ./images/subscribe/mob.png   1x,
                    ./images/subscribe/mob.webp   1x,
                    ./images/subscribe/mob@2x.png   2x,
                    ./images/subscribe/mob@2x.webp   2x
                    " media="(min-width: 480px)" />
        
            <img src="./images/subscribe/desc.png" alt="banan">
        </picture>
        
        <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
        <p class="subscribe__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
        <form action="" class="form">
            <label for="">
                <span class="form__wrapper">
                    <input type="email" class="form__input" name="email" placeholder="Enter your email">
                    <button type="submit" class="form__btn btn">Subscribe</button>
                </span>
            </label>
        </form>
       
    </div>
</section>