.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 449px;
  background-color: var(--yellow-main);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  padding: 32px 20px;

  &__close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    transition: box-shadow var(--transition-dur-and-func);
    border: none;
    cursor: pointer;
    padding: 0;
    
    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    }
  }

  &__close-btn-icon {
    fill: #2c2c2c;
    transition: fill var(--transition-dur-and-func);

    .modal__close-btn:hover &,
    .modal__close-btn:focus & {
      fill: #000000;
    }
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 458px;
    height: 449px;
  }
}
