.modal__caption {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  &__field{
    position: relative;
  }

  &__field-desc {
    display: block;
    text-align: start;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 2px;
    margin-left: 12px;
  }

  &__input {
    width: 100%;
    height: 48px;
    background: #ffffff;
    border: 1px solid #7eb101;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    transition: border var(--transition-dur-and-func);
    padding-left: 12px;

    &:focus {
      outline: none;
      border: 2px solid #7eb101;
    }

    &:focus:invalid {
      border: 2px solid #ff705d;
    }
  }

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--form-text-color);
    &:focus {
      outline: none;
    }
  }

  &__btn {
    align-self: center;
    background: #ffffff;
    border: 2px solid #7eb101;
    transition: background var(--transition-dur-and-func);
    padding: 10px 38px;
    margin-top: 8px;

    &:focus,
    &:hover {
      background: #bbf330;
    }
  }
}

.modal-form__mistake {
  position: absolute;
  left: 12px;
  top: 75px;
  font-size: 10px;
  line-height: 150%;
  color: #ff705d;
  opacity: 0;
  transition: opacity var(--transition-dur-and-func);

  .modal-form__input:invalid:focus + & {
    opacity: 1;
  }
}
