.favorites {
  text-align: center;
  &__title {
    margin-bottom: 20px;
  }
  &__text {
    @include font(400, 14px, 16px);
    margin-bottom: 60px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 282px;
    border: 11px solid #ffe550;
    border-radius: 50%;
    transition: border var(--transition-dur-and-func);

    &:hover,
    &:focus {
      border: 11px solid #bbf330;
    }
  }
}

// MOBILE
@media screen and (max-width: 767px) {
  .favorites {
    padding-bottom: 0;
    &__container {
      width: 320px;
      margin-left: auto;
      margin-right: auto;
    }
    &__item {
      flex-basis: 100%;
    }
    &__link_no-mobile {
      display: none;
    }
    &__title{
      margin: 0 auto;
      margin-bottom: 20px;
      max-width: 260px;
    }
  }
}

// TABLET
@media screen and (min-width: 768px) {
  .favorites {
    &__title {
      @include font(700, 42px, 49px);
    }
    &__item {
      flex-basis: calc((100% - 32px) / 2);
    }
    &__list {
      gap: 32px;
    }
    &__link {
      height: 338px;
      border: 14px solid #ffe550;
      &:hover,
      &:focus {
        border: 14px solid #bbf330;
      }
    }
  }
}

// DESKTOP
@media screen and (min-width: 1280px) {
  .favorites {
    &__text {
      margin-bottom: 40px;
    }
    &__item {
      flex-basis: calc((100% - 64px) / 3);
    }
    &__link {
      height: 397px;
      border: 16px solid #ffe550;

      &:hover,
      &:focus {
        border: 16px solid #bbf330;
      }
    }
  }
}
