.header {
  background-color: var(--header-footer-background-color);
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  position: relative;
}

// ============= MOBILE ===============

@media screen and (max-width: 767px) {
  .header-navbar,
  .header__btn {
    display: none;
  }
  .header-container {
    max-width: 320px;
    margin: 0 auto;
  }

  // =========== MOBILE MENU =============

  .mobile-menu-btn {
    background-color: transparent;
    fill: #7eb101;

    & .logo__icon {
      display: block;
    }

    &:hover,
    &:focus,
    &:active {
      fill: var(--yellow-main);
      outline: none;
    }
  }

  .mobile-menu {
    font-size: 16px;
    line-height: 19px;
    width: 130px;
    height: 255px;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: var(--header-footer-background-color);
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    border-radius: 30px 0px 30px 30px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    & .mobile-menu__close-btn {
      position: absolute;
      top: 4px;
      right: 4px;
      background-color: transparent;

      & .mobile-menu__close-icon {
        display: block;
      }
    }

    & .mobile-menu__list {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & .mobile-menu__item {
        padding: 16px;

        &:first-child {
          border-radius: 30px 0px 0px 0px;
        }

        &:last-child {
          border-radius: 0px 0px 30px 30px;
        }

        &:hover,
        &:focus,
        &:active {
          background-color: var(--btn-green);
          cursor: pointer;
        }
        &:focus-within {
          background-color: var(--btn-green);
        }
      }
    }
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__link:focus {
    outline: none;
  }
}

// ============= TABLET ================

@media screen and (min-width: 768px) {
  .mobile-menu__close-btn,
  .mobile-menu,
  .mobile-menu-btn {
    display: none;
  }

  .logo {
    margin-right: auto;
  }

  .navbar__list {
    // height: 100%;
    display: flex;
    align-items: center;

    .navbar__item {
      line-height: 16px;
      font-size: 14px;

      & > a:hover,
      & > a:focus {
        color: var(--btn-green);
        text-decoration: underline;
        outline: none;
      }
    }

    .navbar__item:not(:last-child) {
      margin-right: 28px;
    }
  }

  .header {
    .navbar__item:last-child {
      margin-right: 30px;
    }
  }

  .header__btn {
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    height: fit-content;
    padding: 6px 18px;
    background-color: var(--btn-green);
    border-radius: 30px;

    &:hover,
    &:focus,
    &:active {
      background: #b5ff00;
      outline: none;
    }
  }
}
