.hero{
  &__slide-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  &__title {
    @include font(700, 28px, 33px);
    margin-bottom: 28px;
  }

  &__description {
    @include font(400, 14px, 21px);
    margin-bottom: 28px;
  }

  &__btn {
    @include font(500, 13px, 20px);
    text-align: right;
    padding: 6px 18px;
    background-color: var(--btn-green);
    border: none;
    border-radius: 30px;
    transition: backgound-color var(--transition-dur-and-func);
    &:hover,
    &:focus {
      background-color: #b5ff00;
    }
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 47%;
  transition: fill var(--transition-dur-and-func);
  user-select: none;
  &:hover,
  &:hover {
    fill: #7eb101;
  }
}

.icon-arrow{
  box-shadow: 0px 4px 4px rgb(0 0 0 / 16%);
  border-radius: 8px;
    background-color: #fff;
}

.fade {
  animation-name: fade;
  animation-duration: 250ms;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .hero{
    &__right-part {
      display: none;
    }

    &__container {
      width: 320px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero{
    padding-top: 60px;
    padding-bottom: 0;

    &__container {
      display: flex;
      position: relative;
      padding-left: 0px;
      padding-right: 0px;
    }

    &__title {
      @include font(700, 42px, 50px);
      margin-bottom: 44px;
      width: 537px;
    }

    &__description {
      @include font(400, 16px, 24px);
      margin-bottom: 40px;
      width: 336px;
    }

    &__right-part {
      position: absolute;
      right: 17px;
      top: 89px;
      width: 320px;
      height: 320px;
      background: #ffffff;
      border-radius: 50%;
      border: 14px solid var(--yellow-main);
    }

    &__photo-food {
      width: 292px;
      height: 292px;
    }

    &__left-part{
      position: relative;
    }

    &__btn{
      position: absolute;
    }

  }
  
  .next {
    right: -21;
  }

  .prev {
    left: -21;
  }

  .icon-arrow {
    width: 28px;
    height: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .hero{
    padding-top: 159px;
    padding-bottom: 0;

    &__container {
      width: 1248px;
      padding-left: 16px;
      padding-right: 16px;
    }

    &__right-part {
      position: absolute;
      right: 16px;
      top: -145px;
      width: 580px;
      height: 580px;
      border: 26px solid var(--yellow-main);
    }

    &__title {
      @include font(700, 48px, 58px);
      margin-bottom: 28px;
      width: 502px;
    }

    &__description {
      @include font(400, 16px, 24px);
      margin-bottom: 40px;
      width: 502px;
    }

    &__photo-food {
      width: 528px;
      height: 528px;
    }

    &__left-part{
      position: static;
    }

    &__btn{
      position: static;
    }
  }

  .next {
    right: -37;
  }

  .prev {
    left: -37;
  }

  .icon-arrow {
    width: 48px;
    height: 40px;
  }
}
