.offerings {
  margin: 0 auto;
  background-image: url(../images/offerings/mobile/back-mob320.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offerings__picture {
  margin-bottom: 60px;
}

.offerings__subject {
  color: var(--primary-text-color);
  margin-bottom: 28px;
}

.offerings__text {
  @include font(400, 14, 16);
  color: var(--primary-text-color);
  padding-right: 28px;
  margin-bottom: 28px;
}

.offerings__heading {
  @include font(700, 18, 21);
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.offerings__desc {
  @include font(400, 14, 16);
  color: var(--primary-text-color);
  margin-bottom: 28px;
}

.offerings__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-bottom: 8px;
}

.offerings__btn {
  @include font(500, 13, 20);
  color: var(--primary-text-color);
  background: #ffffff;
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 22px;
  margin-right: 24px;

  &:hover,
  &:focus {
    border: 2px solid #7eb101;
  }
}


@media screen and (max-width: 767px) {
  .offerings {
    margin: 0 auto;
    background-image: url(../images/offerings/mobile/back-mob480.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .offerings__container {
    padding-left: auto;
    padding-right: auto;
    width: 320px;
  }

  .offerings__button {
    display: flex;
    align-items: center;
  }

  .offerings__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    @include font(500, 13, 20);
    color: var(--primary-text-color);
  }
}

@media screen and (min-width: 768px) {
  .offerings {
    background-image: url(../images/offerings/tablet/back-tablet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .offerings__content {
    width: 520px;
}

  .offerings__subject {
    @include font(700, 42, 50);
    margin-bottom: 20px;
}

  .offerings__text {
    margin-bottom: 40px;
  }

  .offerrings__items {
    display: flex;
  }

  .offerings__desc {
    width: 252px;
    margin-right: 116px;
    margin-bottom: 40px;
  }

  .offerings__button {
    display: flex;
    align-items: center;
  }

  .offerings__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    @include font(500, 13, 20);
    color: var(--primary-text-color);
  }
}

@media screen and (min-width: 1280px) {
  .offerings {
    margin: 0 auto;
    background-image: url(../images/offerings/desktop/back-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

    .offerings__picture {
   margin-top: 231px;
   margin-right: 90px;
  }
  
  .offerings__container {
    display: flex;
  }

  .offerings__description {
    margin-top: 260px;
    
  }

  .offerings__text {
    @include font(400, 16, 24);
    margin-bottom: 40px;
  }

  .offerings__desc {
    @include font(400, 14, 21);
    color: var(--primary-text-color);
    margin-bottom: 32px;
  }

  .desktop {
    display: none;
  }
}