.subscribe {
  padding-top: 52px;

  &__container {
    position: relative;
  }

  &__img {
    position: absolute;
    z-index: 999;
    top: -95px;
    right: 50%;
    transform: translateX(50%);
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 20px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 40px;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
  }
}

.sub-wrap {
  position: relative;
}

.sub-form__input {
  width: 100%;
  height: 42px;
  border: 0.9px solid #ffe550;
  border-radius: 30px;
  padding-left: 11px;
  margin-bottom: 20px;
  transition: border-color var(--transition-dur-and-func);

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
  }

  &:focus:valid {
    border-color: #7eb101;
    outline: none;
  }

  &:focus:invalid {
    border-color: #ff705d;
    outline: none;
  }
}

.sub-form__field {
  position: absolute;
  left: 0;
  top: 46px;
  font-size: 10px;
  line-height: 150%;
  color: #ff705d;
  opacity: 0;
  transition: opacity var(--transition-dur-and-func);

  .sub-form__input:invalid:focus + & {
    opacity: 1;
  }
}

.sub-form__btn {
  display: flex;
  margin-left: auto;
  padding: 11px 22px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;

  background: #bbf330;
  border-radius: 30px;
  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: #b5ff00;
  }
}

@media screen and (min-width: 480px) {
  .subscribe__title,
  .subscribe__description {
    width: 280px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe__container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .subscribe {
    padding-top: 82px;

    &__title {
      font-size: 42px;
      width: 100%;
    }

    &__description {
      width: 656px;
      margin-left: 0;
      font-size: 16px;
      line-height: 150%;
    }

    &__img {
      top: -156px;
      right: 0%;
      transform: none;
    }
  }

  .sub-form__input {
    width: 394px;
    margin-bottom: 0;
  }

  .sub-form__btn {
    display: inline;
    margin-left: 22px;
  }

  .sub-wrap {
    position: relative;
    display: inline-block;
  }
}

@media screen and (min-width: 1280px) {
  .subscribe {
    padding-top: 0;

    &__container {
      display: flex;
    }

    &__img {
      top: -25%;
    }

    &__text {
      width: 656px;
    }
  }

  .sub-form__btn {
    margin-left: 32px;
  }
}
